<% if user_signed_in? %>
<h1>My Projects</h1>

<%= link_to 'New Project', new_project_path %>
<br>
<br>
    <% @projects.each do |project| %>
        <div class="item">
            <div class="name">
                <%= link_to project.name, project %>
            </div>
            <div class="created-at"><%= project.created_at.strftime('%Y/%m/%d') %>に作成されました。</div>
            <div class="description"><%= project.description %></div>
        </div>
        <hr class="item-line">
    <% end %>
<% end %>