<% if user_signed_in? %>
    <div class="contante_header">
        <h1>My Projects</h1>
        <%= link_to 'New Project', new_project_path %>
    </div>
    <% @projects.each do |project| %>
        <div class="item">
            <div class="item-header">
                <div class="name">
                    <%= link_to project.name, project %>
                </div>
                <div class="created-at"><%= project.created_at.strftime('%Y/%m/%d') %>に作成されました。</div>
            </div>
            <div class="description"><%= project.description %></div>
        </div>
        <hr class="item-line">
    <% end %>
<% end %>