// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
    font-size: 32px;
    float: left;
}

.created-at{
    font-size: 12px;
    //float: right;
}
.item-line{
    margin-top: 3px;
    margin-bottom: 10px;
}