.contante_header{
    margin-bottom: 30px;
}
.item-header{
    display: table;
}

.name{
    //font-size: 32px;
    display: table-cell;
    //min-height: 32px;
    
    a {
        font-size: 32px;
    }
}


.created-at{
    display: table-cell;
    font-size: 12px;
    padding-left: 15px;
}

.description{
    margin-top: 10px;
}
.item-line{
    margin-top: 3px;
    margin-bottom: 10px;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}